/* font-family: "DM Sans", sans-serif; */
/* font-family: "Martel", serif; */
/* font-family: "Roboto", sans-serif; */

.navbar {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.titulo-hero {
  font-family: "Martel", serif;
  font-size: 48px;
}

.titulo-parrafo {
  font-family: "Martel", serif;
  font-size: 32px;
}

.subtitulo {
  font-family: "Martel", serif;
}

.menu {
  background-color: #f7f7f7;
}

.texto {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.texto-hero {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

.titulo-hero-movil {
  font-family: "Martel", serif;
  font-size: 32px;
}

.texto-hero-movil {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.boton-rosa {
  background-color: #e0a0db;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.boton-sepia {
  background-color: #f09c63;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.boton-blue {
  background-color: #3d90de;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.parrafo-hero {
  padding-top: 300px;
  background-color: #f7f7f7;
}

.parrafo-hero-mision {
  padding-top: 200px;
  background-color: #f7f7f7;
}

.parrafo-hero-mision-movil {
  padding-top: 63px;
  background-color: #f7f7f7;
}

.parrafo-hero-servicios {
  padding-top: 300px;
  background-color: #f7f7f7;
}

.parrafo-hero-pedagogia {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

.portada-grande {
  background-color: #f7f7f7;
  padding-right: 0;
}

.portada-movil {
  background-color: #f7f7f7;
}

.imagen-hero {
  background-color: #f7f7f7;
}

.imagen-hero-pedagogia {
  background-color: #f7f7f7;
  padding-top: 100px;
}

.flipped-image {
  transform: scaleX(-1);
}

.title-article {
  font-family: "DM Sans", sans-serif;
}

.recomendados-link {
  text-decoration: none;
  color: #3b3838;
  transition: color 0.3s;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

.recomendados-link:hover {
  color: #0d6efd;
  text-decoration: underline;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

.articulo {
  background-color: #f7f7f7;
}

.contenedor-saludo {
  background-color: #efc5a7;
}

.enlaces-noticias img {
  transition: filter 0.3s ease;
}

.enlaces-noticias:hover img {
  filter: grayscale(100%);
}

#enlaces-iconos img {
  transition: filter 0.3s ease;
}

#enlaces-iconos:hover img {
  filter: grayscale(100%);
}

footer {
  background-color: #126bbe;
}
.enlaces-logotipo-footer img {
  transition: filter 0.3s ease;
}

.enlaces-logotipo-footer:hover img {
  filter: grayscale(20%);
}
.enlaces-footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.enlaces-footer:hover a {
  color: #3b3838;
  text-decoration: underline;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.texto-reservado-footer {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.hero-instagram {
  background-color: #fafafa;
}

.card-instagram {
  background-color: #f1dfeb;
}

#reseña {
  background-color: #f7f7f7;
}

#searchInput {
  width: 400px;
  padding: 5px;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

.search-container {
  position: relative;
  display: flex;
}

.clear-btn {
  background-color: transparent;
  cursor: pointer;
  color:rgb(239, 94, 171);
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  color: #3b3838;
}

/* Estilos para tamaños de tablet hacia arriba */
@media only screen and (min-width: 768px) {
  .portada-movil {
    display: none;
  }
  .reseña-movil {
    display: none;
  }
  #noticias-movil {
    display: none;
  }
  .historia-movil {
    display: none;
  }
  #creser-movil {
    display: none;
  }
  .equipo-movil {
    display: none;
  }
  .imagen-donaciones-movil {
    display: none;
  }
}

mark {
  background-color: #3d90de;
  color: white;
}

/* Estilos para tamaños de pantalla móvil */
@media only screen and (max-width: 767px) {
  .portada-grande {
    display: none; /* Oculta la sección en tamaños de pantalla móvil */
  }
  #mejores-noticias {
    display: none;
  }
  #sigue-conociendo {
    display: none;
  }
  #menu-footer {
    display: none;
  }
  #logo-footer {
    padding-top: 40px;
  }
  .navbar-brand {
    display: none;
  }
  .reseña-desktop {
    display: none;
  }
  #noticias-desktop {
    display: none;
  }
  .historia-desktop {
    display: none;
  }
  #creser-desktop {
    display: none;
  }
  .equipo-desktop {
    display: none;
  }
  .imagen-donaciones-desktop {
    display: none;
  }
  #imagen-tabla-donaciones {
    display: none;
  }
  #imagen-ubicacion {
    display: none;
  }
}
